.emulator-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  min-height: 400px;
  max-height: 80vh;
}

.emulator-frame {
  width: 100%;
  height: 100%;
  border: none;
}

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(31 41 55);
  z-index: 10;
}

.loading-spinner {
  width: 48px;
  height: 48px;
  border: 4px solid rgb(75 85 99);
  border-top-color: rgb(34 211 238);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
