:host {
  position: relative;
  z-index: 2;
}

footer {
  transition: background 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

:host-context(html:not(.dark)) footer {
  background: var(--color-gray-100);
}
